# Archivos que Docker NO debe copiar al construir la imagen del frontend.
# node_modules es lo más importante: pesa cientos de MB y se instala dentro del contenedor.

node_modules/
dist/
.angular/
.vscode/
.git/
.gitignore
README.md
Dockerfile
docker-compose.yml
*.md
